body {
  font-family: ProximaNova,Helvetica Neue,Helvetica,\\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3,Hiragino Kaku Gothic Pro,\\30E1\30A4\30EA\30AA,Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",arial,sans-serif!important;

}

.banner > div{

  height: 150px;
  font-size: 4em;
  text-align: center;
  padding: 40px;
  color: #666;
  background-color: #f2f2f2;

}
