body {
  font-family: ProximaNova,Helvetica Neue,Helvetica,\\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3,Hiragino Kaku Gothic Pro,\\30E1\30A4\30EA\30AA,Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",arial,sans-serif!important;

}

.banner > div{

  height: 150px;
  font-size: 4em;
  text-align: center;
  padding: 40px;
  color: #666;
  background-color: #f2f2f2;

}

.row-buttons{
  margin:5px;
}

.row-topic {

  width:100%;
  height:100px;
  padding-top: 10px;
  border: 1px solid #e1e1e1;

}

.topic-title {
  font-size: 1.5em;
  font-weight: 500;
}

.vote-arrow{
  cursor: pointer;
  color: #7b0c0c;
}

.modal-custom{
  padding: 20px 30px 40px 30px;
}